<!DOCTYPE html>
<html>
<body>

<script>
var connection = new WebSocket('ws://localhost:8080/ws');        
connection.onopen = function() {
    connection.send('Ping'); // Send the message 'Ping' to the server
};
connection.onmessage = function(e) {
    console.log('Server: ' + e.data);
    var file = document.querySelector('input[type="file"]').files[0];
    var el = document.getElementById('progress');
    el.innerText = e.data.split(' ')[1]*100/file.size;
}

function sendFile() {
    var file = document.querySelector('input[type="file"]').files[0];
    connection.send(file);
}
</script>

<form action="/upload?X-Progress-ID=123" method="post">
    <input type="file" name="file" id="file">
    <input type="button" value="Upload File" onclick="sendFile()">
</form>
<div id="progress"></div>
{% for url in urls %}
    <a href='{{url}}'>Download file</a><br/>
{% endfor %}

</body>
</html>
